<GoogleCustomizations>
  {% for friend_nickname in friend_nicknames %}
  <Include type="Annotations" href="http://ego-ego.appspot.com/friendfeed/{{ friend_nickname }}/annotations/"/>
  {% endfor %}
</GoogleCustomizations>

