<GoogleCustomizations>
  <CustomSearchEngine>
    <Title>{{ name }} and friends</Title>
    <Description>
      A Google Custom Search Engine for {{ name }} and friends.
    </Description>
    <Context>
      <BackgroundLabels>
        <Label name="include" mode="FILTER"/>
      </BackgroundLabels>
    </Context>
    <LookAndFeel>
      <Logo url="http://wego-wego.appspot.com/images/wego_logo.png" destination="http://wego-wego.appspot.com/friendfeed/{{ nickname }}/" height="32" />
    </LookAndFeel>
    <AdSense>
      <Client id="pub-3230649185001151" />
    </AdSense>
  </CustomSearchEngine>

  {% for start_index in start_indexes %}
  <Include type="Annotations" href="http://wego-wego.appspot.com/friendfeed/{{ nickname }}/annotations/{{ start_index }}/"/>
  {% endfor %}

</GoogleCustomizations>
