{% extends "base.tmpl" %}

{% block content %}

    <div class="section">
    <p>
      <strong>Q: How is this done?</strong>
    </p>

    <p>
      A: Unicorns.
    </p>
    </div>

    <div class="section">
    <p>
      <strong>Q: Is it really done with unicorns?</strong>
    </p>

    <p>
      A: Yes.
    </p>
    </div>

{% endblock content %}
