{% extends "base.tmpl" %}

{% block extra_links %}
 
    <link rel="search" 
          type="application/opensearchdescription+xml" 
          title="{{ name }} and friends" 
          href="/friendfeed/{{ nickname }}/osd/" />

{% endblock extra_links %}

{% block content %}

    <div class="section">
      <p>
        Done!  We've created a <a class="external" href="http://www.google.com/coop/cse/">custom search engine</a> just for you, {{ name }}.
      </p>
    </div>

    <div class="section">
      <p>
        Things you can do with your new search engine:
      </p>
    </div>

    <div class="section">
      <p>
       <span class="number">&raquo;</span> Configure your browser by selecting  Add "{{ name }} and friends" in the drop down above. (Firefox and IE only.)
      </p>

      <p class="snippet">
        <img src="/images/wego_searchbar.png"/>
      </p>
    </div>

    <div class="section">
      <p>
        <span class="number">&raquo;</span>Publish your search engine by copying this html into the <code>&lt;head/&gt;</code> section of your site.
      </p>
 
      <div class="snippet"><code><pre>&lt;link rel="search" 
      type="application/opensearchdescription+xml" 
      title="{{ name }} and friends" 
      href="http://wego-wego.appspot.com/friendfeed/{{ nickname }}/osd/" /&gt;</pre></code></div>
    </div>

    <div class="section">
      <p>
        <span class="number">&raquo;</span>  Bookmark your new customized Google page.
      </p>
      <p class="snippet">
        <a class="external" href="http://www.google.com/cse?cref=http://wego-wego.appspot.com/friendfeed/{{ nickname }}/cref/">{{ name }} and friends</a>
      </p>
    </div>

    <div class="section">
      <p>
       <span class="number">&raquo;</span> Give it try right now.
      </p>

      <form action="http://www.google.com/cse" id="cse-search-box">
        <fieldset>
          <input type="hidden" name="cref" value="http://wego-wego.appspot.com/friendfeed/{{ nickname }}/cref/" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="31" value="{{ name }}"/>
          <input type="submit" name="sa" value="Search" />
        </fieldset>
      </form>
      <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&lang=en"></script>
    </div>


   <script type="text/javascript"> 
     $(document).ready(function() {
       // Hack to reload the CSE so that it is fast when the user clicks on the link
       var preload = document.createElement('img');
       preload.src = "http://www.google.com/cse?cref=http://wego-wego.appspot.com/friendfeed/{{ nickname }}/cref/";
       // Send focus to the search box
       $(":input:visible:enabled:first").focus();
     });
   </script>

{% endblock content %}
